<%- include("partials/header") %> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="/">COVID 19 TRACKER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/covid">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <main>
    <section>
      <div class="container">
        <form class="search" action="/covid" method="POST">
        <input <% if(!isglobal){ %> value="<%= country.Country %> "<% } %>  id="country" name="country" class="form-control mr-sm-2" type="search" placeholder="Search a Country" aria-label="Search">
        </form>
        <% if(!isglobal){ %> 
        <form class="form-group" method="POST" action="/covid/date">
          <input autocomplete="off" name="date" class="form-control" placeholder="Pick A Date" type="text" id="datepicker">
          <input type="hidden" name="country" value="<%= country.Country %> ">
        </form>
        <% } %> 
      </div>
      <% if(isglobal){ %>
        <div class="jumbotron">
          <div class="container">
            <h2><img src="<%= img %>">
                WORLD
            </h2>
            <div class="row">
              <div class="confirmed col-lg-4 col-md-4 col-sm-12"><span class="tp"><%= global.TotalConfirmed %></span>(+<%= global.NewConfirmed %>)<div><h4>Confirmed</h4></div> </div>
              <div class="recovered col-lg-4 col-md-4 col-sm-12"><span class="rp"><%= global.TotalRecovered %></span>(+<%= global.NewRecovered %>)<div><h4>Recovered</h4></div></div>
              <div class="deaths col-lg-4 col-md-4 col-sm-12"><span class="dp"><%= global.TotalDeaths %></span>(+<%= global.NewDeaths %>)<div><h4>Deaths</h4></div></div>
            </div>
            <div class="row">
              <div id="piechart" class="col-lg-6 col-md-12"></div>
            </div>
          </div>
        </div>
        <div class="jumbotron">
            <table class="table table-striped">
              <thead class="thead-dark">
                <th>Country</th>
                <th>Confirmed</th>
                <th>Recovered</th>
                <th>Deaths</th>
              </thead>
              <tbody>
                <% for(var i=0;i<countries.length;i++){ %> 
                  <tr>
                    <td>
                      <form action="/covid" method="POST">
                        <button name="country" value="<%= countries[i].Country %>" type="submit"><img src="<%= countries[i].imgflag %>"><span class="cname"><%= countries[i].Country %></span><span class="ccode"><%= countries[i].CountryCode %></span></button>  
                      </form>
                    </td>
                    <td>
                      <span class="confirmed">
                        <%= countries[i].TotalConfirmed %>
                      </span>
                      +<%= countries[i].NewConfirmed %> 
                    </td>
                    <td>
                      <span class="recovered">
                        <%= countries[i].TotalRecovered %>
                      </span>
                      +<%= countries[i].NewRecovered %> 
                    </td>
                    <td>
                      <span class="deaths"> 
                        <%= countries[i].TotalDeaths %>
                      </span>
                      +<%= countries[i].NewDeaths %> 
                    </td>
                  </tr>
                <% } %> 
              </tbody>
            </table>
        </div>
      <% }else{ %> 
        <div class="jumbotron">
          <div class="container">
            <h2><img src="<%= country.imgflag %>">
                <%= country.Country %> 
            </h2>
            <div class="row">
            <div class="confirmed col-lg-4 col-md-4 col-sm-12"><span class="tp"><%= country.TotalConfirmed %></span><% if(!isdate){ %>(+<%= country.NewConfirmed %>)<% } %> <div><h4>Confirmed</h4></div> </div>
            <div class="recovered col-lg-4 col-md-4 col-sm-12"><span class="rp"><%= country.TotalRecovered %></span><% if(!isdate){ %>(+<%= country.NewRecovered %>)<% } %> <div><h4>Recovered</h4></div></div>
            <div class="deaths col-lg-4 col-md-4 col-sm-12"><span class="dp"><%= country.TotalDeaths %></span><% if(!isdate){ %>(+<%= country.NewDeaths %>)<% } %> <div><h4>Deaths</h4></div></div>
            </div>
            <!-- *********** -->
            <div class="row">
              <div id="piechart" class="col-lg-6 col-md-12"></div>
            </div>
            <!-- *********** -->
          </div>
        </div>
      <% } %> 

    </section>
  </main>
<%- include("partials/footer") %> 