<%- include("partials/header") %> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="/">COVID 19 TRACKER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/covid">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form method="POST" action="/covid" class="form-inline my-2 my-lg-0">
        <input name="country" class="form-control mr-sm-2" type="search" placeholder="Search a Country" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
  </nav>
  <main>
    <section>
      <div class="jumbotron">
        <div class="container">
          <h2><img src="<%= img %>">
            <% if(body[0].country){ %> 
            <%= body[0].country %>
            <% }else{ %> 
              WORLD
            <% } %>      
          </h2>
          <div class="row">
            <div class="confirmed col-lg-3 col-md-6 col-sm-12"><%= body[0].confirmed %><div><h4>Confirmed</h4></div> </div>
            <div class="recovered col-lg-3 col-md-6 col-sm-12"><%= body[0].recovered %><div><h4>Recovered</h4></div></div>
            <div class="critical col-lg-3 col-md-6 col-sm-12"><%= body[0].critical %><div><h4>Critical</h4></div></div>
            <div class="deaths col-lg-3 col-md-6 col-sm-12"><%= body[0].deaths %><div><h4>Deaths</h4></div></div>
          </div>
        </div>
      </div>
      <div class="jumbotron">
        <div class="container">
          <% if(!body[0].country){ %> 
            <table>
              <thead>
                <th>Country</th>
                <th>Confirmed</th>
                <th>Recovered</th>
                <th>Deaths</th>
              </thead>
              <tbody>
                <% for(var i=0;i<summary.Countries.length;i++){ %> 
                  <tr>
                    <td>
                      <%= summary.Countries[i].Country %> 
                    </td>
                    <td>
                      <%= summary.Countries[i].TotalConfirmed %> 
                    </td>
                    <td>
                      <%= summary.Countries[i].TotalRecovered %> 
                    </td>
                    <td>
                      <%= summary.Countries[i].TotalDeaths %> 
                    </td>
                  </tr>
                <% } %> 
              </tbody>
            </table>
          <% } %> 
        </div>
      </div>
    
    </section>
  </main>
<%- include("partials/footer") %> 